#ButtonCancelWrap{
    display: flex;
    justify-content: center;
}


#ButtonCancel{
    flex-grow: 1;
    background-color:#ffffff;
    border: 1px solid grey;
    color: black;
    font-size: 18px;
    padding: 12px;
    font-weight: bold;
    border-radius: 4px;
    transition: 0.5s;
}

#ButtonCancel:hover{
    background-color: rgb(199, 199, 199);
}