#ButtonConfirmWrap{
    display:flex;
    justify-content: center;
}


#ButtonConfirm{
    flex-grow: 1;
    background-color:#363636;
    border: none;
    color: white;
    font-size: 18px;
    padding: 12px;
    font-weight: bold;
    border-radius: 4px;
    transition: 0.5s;
}

#ButtonConfirm:hover{
    color:rgb(199, 199, 199);
}