#Navigation{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.NavigationButton{
    display: inline-block;
    padding: 0px;
    text-decoration: none;
    border: none;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 550;
    color: white;
}

@media all and (max-width: 950px){
    .NavigationButton{
       color: white;
       font-size: 16px;
    }

    #Navigation{
        width: 200px;
    }
}
