#Navigation{
    display: flex;
}

.NavigationButton{
    display: inline-block;
    padding: 0px;
    text-decoration: none;
    border: none;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 550;
    color: white;
    margin-right: 140px;
}

#NavigationButtonCustomer{
    margin-right: 16px;
    padding-right: 16px;
    border-right: solid 1px rgba(255, 255, 255, 0.5);
}

@media all and (max-width: 950px){
    .NavigationButton{
       color: white;
    }

    #NavigationButtonCustomer{
        margin-right: 10px;
    }

    .NavigationButton{
        font-size: 16px;
    }
    #NavigationButtonCustomer{
        border: none;
    }
    .NavigationButton{
        margin-right: 10px;
    }
    
}
