.TextInputForm{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.TextInput{
    -webkit-appearance: none;
    -webkit-border-radius:0;
    width: 100%;
	padding: 12px;
	box-sizing: border-box;
	border: none;
	border-radius: 4px;
	background-color: #e6e6e6;
    font-size: 16px;
    text-align: center;
    transition: 0.5;
}

.TextInputLabel{
    font-size: 14px;
    margin-top: 4px;
}
.TextInput:hover, .TextInput:focus{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.025);
    transition: 0.5s;
}