
*{
    font-family:"SpoqaHanSansNeo-Regular";
}
.App{
    display: flex;

}

#wrapper{
    flex-grow: 1;
    width: 100%;
}

@font-face{
    font-family:"SpoqaHanSansNeo-Regular";
    src:url("./font/SpoqaHanSansNeo-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

